include README.md
recursive-include octoprint_JuliaProSingle2022TouchUI/templates *
recursive-include octoprint_JuliaProSingle2022TouchUI/config *
include versioneer.py
include octoprint_JuliaProSingle2022TouchUI/_version.py